<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>baseIndex</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
  <script src="js/common.js"></script>

</head>
<body>
<div id="searchdiv">
  <label for="search"><input type="text" id='search' v-model="cond">
    <button  v-on:click="search">搜索</button>
  </label>

  <div id="searchKid">
    <button v-on:click="searchAuthor">用户</button>  <button  v-on:click="searchBlog">博文</button>
  </div>
  <div id="context">
     <li v-for="item in site">
      <a :href="creatUrl(item.id,item.module)">{{item.abstractContext}}</a>
     </li>
  </div>
</div>


</body>

<script>
  var search = new Vue({
    el: '#searchdiv',
    data: {
      cond: '搜索',
      site:[{'id':"132"}]
    },
    methods: {
      search: function () {
        var param = new URLSearchParams();
        param.append("cond",this.cond);
        axios.post(contextPath + "/author/search.do", param
        ).then(function (response) {
          window.alert(response.data);

        }).catch(function (error) {
          console.log(error);
        });

      },
      searchAuthor: function () {
        var param = new URLSearchParams();
        param.append("cond",this.cond);
        var _this = this;
        axios.post(contextPath + "/author/search.do", param
        ).then(function (response) {
          if(response.data.returnCode){
            var pageUtil = response.data.data;
            _this.site=pageUtil.data;

            window.alert("13214"+_this.site)
          }
        }).catch(function (error) {
          console.log(error);
          Has
        });},
      searchBlog: function () {
        var param = new URLSearchParams();
        param.append("cond",this.cond);
        axios.post(contextPath + "/blog/search.do", param
        ).then(function (response) {
          console.log(response);
        }).catch(function (error) {
          console.log(error);
        });
      },
      creatUrl:function (id,module) {
        return contextPath +"/"+module+"/query?id="+id;
      }
    }
  });
</script>
</html>